<!-- cancello tutto tranne routeer outlet -->

<!-- <div id="app-container">
  <h1>{{title}}</h1> -->
  <!-- posso usare tutte variabili js tra doppie graffe -->
  <!-- <ul>
    <li *ngFor="let item of students2"> -->
      <!-- for of per cicleare sutdenti -->
      <!-- <span class="student-name-span">{{item.name}}</span><br>
      <span *ngIf="item.grade >= 6">{{item.grade}}</span>
    </li>
  </ul>
</div> -->

<!-- <h1>{{title}}</h1> -->
<!-- richiamo title da app.components.ts -->
<!-- <app-heroes></app-heroes> -->
<!-- richiamo selector da app.components.ts -->
<!-- <app-messages></app-messages> -->
<!-- richamo app-messages che ho scricato -->
<!-- <router-outlet></router-outlet> -->
<!-- quando sei in /heres/ diventa heroesComponent -->

<h1>{{title}}</h1>
<!-- richiamo title da app.components.ts -->

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<router-outlet></router-outlet>
<!-- quando sei in /heres/ diventa heroesComponent -->
<app-messages></app-messages>
<!-- richamo app-messages che ho scricato -->
